![](image.jpg)


Dive into the heart of data science with a project that combines healthcare insights and predictive analytics. As a Data Scientist at a top Health Insurance company, you have the opportunity to predict customer healthcare costs using the power of machine learning. Your insights will help tailor services and guide customers in planning their healthcare expenses more effectively.

## Dataset Summary

Meet your primary tool: the `insurance.csv` dataset. Packed with information on health insurance customers, this dataset is your key to unlocking patterns in healthcare costs. Here's what you need to know about the data you'll be working with:

## insurance.csv
| Column    | Data Type | Description                                                      |
|-----------|-----------|------------------------------------------------------------------|
| `age`       | int       | Age of the primary beneficiary.                                  |
| `sex`       | object    | Gender of the insurance contractor (male or female).             |
| `bmi`       | float     | Body mass index, a key indicator of body fat based on height and weight. |
| `children`  | int       | Number of dependents covered by the insurance plan.              |
| `smoker`    | object    | Indicates whether the beneficiary smokes (yes or no).            |
| `region`    | object    | The beneficiary's residential area in the US, divided into four regions. |
| `charges`   | float     | Individual medical costs billed by health insurance.             |



A bit of data cleaning is key to ensure the dataset is ready for modeling. Once your model is built using the `insurance.csv` dataset, the next step is to apply it to the `validation_dataset.csv`. This new dataset, similar to your training data minus the `charges` column, tests your model's accuracy and real-world utility by predicting costs for new customers.

## Let's Get Started!

This project is your playground for applying data science in a meaningful way, offering insights that have real-world applications. Ready to explore the data and uncover insights that could revolutionize healthcare planning? Let's begin this exciting journey!

In [24]:
# Import required libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score

# Loading the insurance dataset
insurance_data_path = 'insurance.csv'
insurance = pd.read_csv(insurance_data_path)
insurance.head()

    age     sex     bmi  children smoker     region       charges
0  19.0  female  27.900       0.0    yes  southwest     16884.924
1  18.0    male  33.770       1.0     no  Southeast     1725.5523
2  28.0    male  33.000       3.0     no  southeast     $4449.462
3  33.0    male  22.705       0.0     no  northwest  $21984.47061
4  32.0    male  28.880       0.0     no  northwest    $3866.8552

In [ ]:
# Data exploration
print(insurance.info())
print(insurance.describe())
print(insurance.shape)

# Data cleaning and preprocessing
# Convert charges to a numerical value
insurance['charges'] = insurance['charges'].replace(r'[\$,]', '', regex=True).astype(float)

# Split columns into categorical and numerical
categorical_cols = insurance.select_dtypes(include=['object']).columns.tolist()
numerical_cols = insurance.select_dtypes(include=['float64']).columns.tolist()

print(categorical_cols)
print(numerical_cols)

# Check unique values in categorical columns
for col in insurance[categorical_cols]:
    print ("---- %s ---" % col)
    print (insurance[col].value_counts())

# Ensure sex is labelled correctly
insurance['sex'] = insurance['sex'].replace({'M': 'male', 'man': 'male', 'F': 'female', 'woman': 'female'})

print(insurance['sex'].value_counts())

# Make region lowercase
insurance['region'] = insurance['region'].str.lower()

print(insurance['region'].value_counts())

#Check for missing values
print(insurance.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1272 non-null   float64
 1   sex       1272 non-null   object
 2   bmi       1272 non-null   float64
 3   children  1272 non-null   float64
 4   smoker    1272 non-null   object
 5   region    1272 non-null   object
 6   charges   1272 non-null   float64
dtypes: float64(4), object(3)
memory usage: 73.3+ KB
None
               age          bmi     children       charges
count  1272.000000  1272.000000  1272.000000   1272.000000
mean     35.214623    30.560550     0.948899  13286.594477
std      22.478251     6.095573     1.303532  12142.505233
min     -64.000000    15.960000    -4.000000   1121.873900
25%      24.750000    26.180000     0.000000   4733.582163
50%      38.000000    30.210000     1.000000   9382.033000
75%      51.000000    34.485000     2.000000  16579.959053
max      64.000000    53.130000     5.000000  63770.428010
(1338, 7)
['sex', 'smoker', 'region']
['age', 'bmi', 'children', 'charges']
---- sex ---
sex
male      645
female    627
Name: count, dtype: int64
---- smoker ---
smoker
no     1013
yes     259
Name: count, dtype: int64
---- region ---
region
Southeast    172
southeast    170
southwest    164
Northwest    161
Northeast    155
northeast    153
northwest    149
Southwest    148
Name: count, dtype: int64
sex
male      645
female    627
Name: count, dtype: int64
region
southeast    342
southwest    312
northwest    310
northeast    308
Name: count, dtype: int64
age         66
sex         66
bmi         66
children    66
smoker      66
region      66
charges     66
dtype: int64